@import "tailwindcss";

@theme {
  --color-pink-50: #fff1f2;
  --color-pink-100: #ffe4e6;
  --color-pink-200: #fecdd3;
  --color-pink-300: #fda4af;
  --color-pink-400: #fb7185;
  --color-pink-500: #f43f5e;
  --color-pink-600: #e11d48;
  --color-pink-700: #be123c;
  --color-pink-800: #9f1239;
  --color-pink-900: #881337;
  --color-pink-950: #4c0519;
}

/* Custom Scrollbar for Chatbot and other scrollable areas */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}